body{
   background-image: url("Images/city.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

iframe{
	width: 70%; 
	height: 100px; 
	scrolling: yes; 
	frameborder: yes; 
	allow: autoplay;
}

#generator{
	/*background-color: */
	justify-content: center;
}

#word{
	color: white;
	font-family: Saira;
	font-weight: 750;
	font-size: 84px;
	margin: auto; 
	width: 400px;
	text-align: center;
	text-shadow: 4px 2px 5px black;

}

#time {
	color: white;
	font-family: Saira;
	font-size: 54px;
	width: 200px;
	margin: auto;
	text-align: center;
	text-shadow: 4px 2px 5px black;
}

#cipher-box{
	display: flex; 
	flex-direction:column;
	/*justify-content: center;*/
	margin: 0 auto;
	/*flex-flow: wrap; */
	height: 250px;
	width: 400px;

}

h1{
	display: flex; 
	justify-content: row wrap;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-style: oblique;
	font-size: 32px;
	width:200px;
	outline: solid;
}

#button-box{
	display:flex;
	justify-content: space-between;
	height:60px;
	width: 100px;
	margin:auto;
}

#playPause{
	color:white;
	font-size: 28px;
	text-shadow: 4px 2px 5px black;
	
}

#nextBtn{
	color:white;
	font-size: 28px;
	text-shadow: 4px 2px 5px black;

}

#time-box{
	display:flex;
	justify-content: space-between;
	width: 450px;
	height: 125px;
	margin:0 auto;
}

#sound-box{
	display:flex;
	margin: 0 auto;
	justify-content: center; 
	align-items: baseline;
}

.timeButton{
	font-family: Saira;
	font-size: 24px;
	width:60px;
	height:60px;
	border-radius:50%;
	box-shadow: 4px 2px 5px black;

}

button:hover {
	cursor:pointer;
	background-color:lightgrey;
}

button:focus {
	outline: 0;
	background-color: grey;
}

i:hover {
	cursor: pointer;

}

