#generator {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: -180px auto;
  border-radius: 10px;
  width: 90%; 
  /* background-color: rgba(253, 253, 253, 0.5); */
}

#topics-box li{
  list-style: none; 
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

#cipher-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 50px;
  height: 300px;
}

#button-box{
  display:flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  margin: auto;
  width: 100%;
}

#buttonsList {
  display:flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  list-style: none;
  margin:0 auto;
  width:30%;
	color: white;
	font-size: 64px;
  text-shadow: 4px 2px 5px black;
  padding: 0; 
}

#time-box {
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 125px;
  margin: -5px auto;
}

#musicBox {
  margin-top:6%;
  width: 50%;
}

#musicControls{
  display:flex; 
  justify-content: space-around;
  font-size:145%;
  list-style: none; 
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

