#generator {
  /*background-color: */
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: -160px auto;
  /* background-color: rgba(253, 253, 253, 0.5); */
  border-radius: 10px;
  width: 50%; 
  
}

#topics-box{
  display: none;
  background-color: rgba(253, 253, 253, 0.5);
  position: absolute;
  font-family: 'Lato', sans-serif;
  width:350px;
  margin-left: 100px;
  border-radius: 10px;
  font-size: 28px;
}

#topics-box li{
  list-style: none; 
  cursor: pointer;
  
}

#cipher-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  /*justify-content: center;*/
  margin-bottom: 50px;
  /*flex-flow: wrap; */
  height: 300px;
}

#button-box {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100px;
  margin: 25px auto;
}

#time-box {
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 125px;
  margin: -25px auto;
}

#sound-box {
  display: flex;
  justify-content: center;
  margin-top: 180px; 
}
