body {
	background-image: url("Images/biggie.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 auto; 
}

iframe {
	width: 70%;
	height: 100px;
	/* scrolling: yes; 
	frameborder: yes; 
	allow: autoplay; */
}
#controlMenu{
	width: 90px; 
	display:flex; 
	flex-direction: column; 
	background-color: rgba(253, 253, 253, 0.5);
	border-radius: 10px; 
}


.controlBtn{
	width: 40px;
	font-size:50px;
	margin-left: 20px; 
	margin-top: 15px;
}
/* #beatControlBtn{
	
} */

.mainText{
	color: white;
	font-family: Saira;
	text-shadow: 2px 2px 4px black;
}

#word {
	font-weight: 750;
	font-size: 84px;
	margin: auto;
	/* width: 400px; */
	/* height: 650px; */
	text-align: center;
	text-shadow: 4px 2px 5px black;
}

.word-box {
	width: 400px;
	height: 650px;
	margin: auto;
}

#time {
	font-size: 54px;
	width: 200px;
	margin: auto;
	text-align: center;
	text-shadow: 4px 2px 5px black;
}


h1 {
	display: flex;
	margin-left:10px;
	justify-content: row wrap;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-style: oblique;
	font-size: 32px;
	width: 200px;
	outline: solid;
	background: rgba(248, 148, 148)
}

#playPause {
	color: white;
	font-size: 28px;
	text-shadow: 4px 2px 5px black;

}

#nextBtn {
	color: white;
	font-size: 28px;
	text-shadow: 4px 2px 5px black;

}

.timeButton {
	font-family: Saira;
	font-size: 24px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 4px 2px 5px black;

}

button:hover {
	cursor: pointer;
	background-color: lightgrey;
}

button:focus {
	outline: 0;
	background-color: grey;
}

i:hover {
	cursor: pointer;
}