body {
	background-image: url("Images/biggie.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

iframe {
	width: 70%;
	height: 100px;
	/* scrolling: yes; 
	frameborder: yes; 
	allow: autoplay; */
}
#topicBtn{
	font-size:32px;
}

.mainText{
	color: white;
	font-family: Saira;
	text-shadow: 4px 2px 5px black;
}

#word {
	font-weight: 750;
	font-size: 84px;
	margin: auto;
	width: 400px;
	height: 300px;
	text-align: center;
	text-shadow: 4px 2px 5px black;
}

#time {
	font-size: 54px;
	width: 200px;
	margin: auto;
	text-align: center;
	text-shadow: 4px 2px 5px black;
}


h1 {
	display: flex;
	justify-content: row wrap;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-style: oblique;
	font-size: 32px;
	width: 200px;
	outline: solid;
	background: rgba(248, 148, 148)
}

#playPause {
	color: white;
	font-size: 28px;
	text-shadow: 4px 2px 5px black;

}

#nextBtn {
	color: white;
	font-size: 28px;
	text-shadow: 4px 2px 5px black;

}

.timeButton {
	font-family: Saira;
	font-size: 24px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 4px 2px 5px black;

}

button:hover {
	cursor: pointer;
	background-color: lightgrey;
}

button:focus {
	outline: 0;
	background-color: grey;
}

i:hover {
	cursor: pointer;
}